/*------ page de l'Ecole ET des démarches administratives------*/
.ecole_section {
    margin-top: 2em;
}
#image_centrale{
    height: 25em;
}
h1{
    text-align: center;
    margin: 1em 0;
}
.vignette{
    width: min-content;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;
    cursor: pointer;
}
.vignette img{
    transition: all 0.5s ease;
}
.vignette img:hover{
    box-shadow: -1em 1em #bbbbbb;
    transition: all 0.5s ease;
}
.carree_vignette{
    width: min-content;
    margin: 0 auto;
}
.vignette .titre_vignette{
    text-align: center;
    font-size: 1.5em;
}
.moitie_basse_vignette, .moitie_haute_vignette{
    display: flex;
}
.vignette img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 100%;
}
