/*------ page du PLUI ------*/

h1{
    text-align: center;
    margin-bottom: 2em;
}
.retrouvez{
    margin-top: 2em;
    text-align: center;
}
.button{
    text-align: center;
    background-color: #6FC068;
    width: 30em;
    padding: 1em;
    margin-top: 3em;
    cursor: pointer;
}