body{
	padding: 0;
	margin: 0;
}
.image-authen{
	margin-top:1%;
	text-align: center;
}
.formulaire{
	text-align: center;
}
.gang{
	height: 10%;
	width: 25%;
	background-color: gray;
	margin: 0 auto;
}
.navigation{
	width: 10em;
	height: 4em;
	border-radius: 2em;
}
.navbar{
	height: 12em;
	background-color: #F0F0F0;
	position: absolute;
	width: 70em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.liste_navbar{
	list-style: none;
	position:relative;
	width: max-content;
	padding: 0;
	margin: 1em auto 0;
}
.liste_navbar li{
	display: inline-block;
	width: 11em;
	height: 4em;
	background-color: #E2E2E2;
	text-align: center;
	border-radius: 2em;
	cursor: pointer;
}
.liste_navbar li p{
	font-size: 1em;
	font-family: "Roboto", sans-serif;
	line-height: 4em;
	margin: 0;
}
#logo_yonne{
	height: 5em;
	width: 5em;
}
.center_logo{
	padding: 2em;
	margin: 0 auto;
	width: 5em;
}
#image_centrale{
	width: 100%;
	height: 50em;
	object-fit: cover;
}
#parametres{
	width: 3em;
	height: 3em;
	background-color: gray;
	position: absolute;
	right: 1em;
	top: 1em;
}
#changer_taille{
	width: 9em;
	height: 3em;
	background-color: gray;
	position: absolute;
	left: 1em;
	top: 1em;
}
.main_body{
	padding: 2em;
	width: 70em;
	margin: 0 auto;
	background-color: #EBEBEB;
}
footer{
	width: 100%;
	background-color: #333333;
	padding: 2em;
}
#logo_footer{
	width: 13em;
	height: 13em;
	margin: auto 2em auto 0;
}
.text_footer{
	margin-left: 2em;
	flex-direction: column;
	width: 20em;
}
#footer_centered{
	height: 20em;
	color: white;
	margin: 0 auto;
	align-items: flex-start;
	display: flex;
	width: min-content;
}
.text_section{
	width: 20em;
	padding: 2em;
	background-color: white;
}
.text_section h1{
	font-family: "Roboto", sans-serif;
	text-align: center;
}
.text_section p {
	font-size: 1.5em;
}
.activite_vignette img{
	width: 15em;
	height: 15em;
}
.activite_vignette h3{
	text-align: center;
}
.activite_vignette{
	width: 15em;
	margin-left: 3em;
}
#activities{
	display: flex;
}
#les_activites{
	display: flex;
	flex-wrap: wrap;
	width: 36em;
}
.bouton_suivant{
	height: 10em;
	width: 4em;
	background-color: #C4C4C4;
	cursor: pointer;

	margin-left: 2em;
	margin-top: auto;
	margin-bottom: auto;
}
.bouton_suivant p{
	font-size: 1.5em;
	line-height: 6.5em;
	margin: 0;
}