body{
	padding: 0;
	margin: 0;
}
.image-authen{
	margin-top:1%;
	text-align: center;
}
.formulaire{
	text-align: center;
}
.gang{
	height: 10%;
	width: 25%;
	background-color: gray;
	margin: 0 auto;
}
.navigation{
	width: 10em;
	height: 4em;
	border-radius: 2em;
}
.navbar{
	height: 12em;
	width: 100%;
	background-color: #F0F0F0;
	position: absolute;
}
.liste_navbar{
	list-style: none;
	position:relative;
	margin: 0 auto;
	width: max-content;
}
.liste_navbar li{
	display: inline-block;
	width: 11em;
	height: 4em;
	background-color: #E2E2E2;
	text-align: center;
	border-radius: 2em;

}
.liste_navbar li p{
	font-size: 1em;
	font-family: "Roboto", sans-serif;
}
#logo_yonne{
	height: 5em;
	width: 5em;
}
.center_logo{
	padding: 2em;
	margin: 0 auto;
	width: 5em;
}
#image_centrale{
	width: 100%;
}