/*------ page du PLUI ------*/
#image_centrale{
    height: 25em;
}
h1{
    text-align: center;
    margin: 1em 0;
}
.retrouvez{
    margin-top: 2em;
    text-align: center;
}
.button{
    text-align: center;
    background-color: #6FC068;
    width: 30em;
    padding: 1em;
    margin-top: 3em;
    cursor: pointer;
}